* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;

    color: #646a6a;

    h1 {
        font-size: 2rem; /* 32px */
    }
    
    h2 {
        font-size: 1.5rem; /* 24px */
    }
    
    li {
        font-size: 1rem; /* 16px */
    }
    
    p {
        font-size: 1rem; /* 16px */
    }
    
    a {
        font-size: 1rem; /* 16px */
    }
}

main {
    section {
        scroll-margin-top: 40px;
        padding: 20px;
    }
}

:root {
    --primary-color: #AEC6CF;
    --secundary-color: #D0E0E7;
    --third-color: #E8F2F6;
    --dark-color: #1f2020e1;
    --gordious-color: #1E111E;
    --detals-top: #AC819B;

    --font-light: #9C9ED5;
}

header {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    z-index: 1;
    position: fixed;

    height: 40px;
    width: 100vw;

    background-color: white;

}

body {
    font-family: 'Garamond','Palatino Linotype', 'Georgia', serif;
    background: #F0EEF0;
}

header nav ul {
    font-weight: bold;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10%;
}



.me {
    position: relative;
    scroll-margin-top: 40px;
    height: 100vh;
    width: 100vw;
    background: radial-gradient(circle, #2a3d7e, #000000);
    
}

.container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    margin: auto;
    align-items: center;
    justify-content: center;

    height: 100vh;
    flex-wrap: wrap;

    .image-container {
        display: flex;
        border-radius: 50%;
        margin-right: 2em;
        margin-top: 40px;
        margin-bottom: 20px;
        align-items: center;
        justify-content: center;
        width: 300px;
        img {
            width: 200px;
        }
    }


    @keyframes neon-pulso {
        0%, 100% {
          text-shadow: 
            0 0 5px #0ff, 
            0 0 10px #0ff, 
            0 0 20px #0ff, 
            0 0 40px #00ffff, 
            0 0 80px #00ffff;
        }
        50% {
          text-shadow: 
            0 0 2px #0ff, 
            0 0 5px #0ff, 
            0 0 10px #0ff, 
            0 0 20px #00ffff, 
            0 0 40px #00ffff;
        }
      }
    /*deixar de exemplo fonte totalmente neon
    .neon-name {
        font-size: 2rem;
        font-weight: bolde;
        color: #0ff;
        text-shadow: 0 0 5px #0ff,
        0 0 5px #0ff,
        0 0 5px #0ff;
        animation: neon-pulso 2x infinite;
    }
      */

    .neon-name{
        font-size: 2rem;
        font-weight: bold;
        color:#0ff;
        margin-bottom: 2%;
        text-shadow:
        0 0 5px #9C9ED5,
        0 0 10px #9C9ED5,
        0 0 20px #525DC6,
        0 0 40px #C88FC4,
        0 0 5px #C88FC4;

        h1 {
            white-space: nowrap;    
        }
    }

    .neon-description {
        font-size: 1.3rem; /* Tamanho grande para realçar o efeito */
        font-weight: bold; /* Torna o texto mais chamativo */
        color: #ffffff; /* Cor do texto */
        margin-bottom: 2%;
        text-shadow: 
          0 0 5px #C88FC4,  /* Sombra fraca */
          0 0 10px #C88FC4, /* Sombra média */
          0 0 20px #525DC6, /* Brilho intenso */
          0 0 40px #9C9ED5, /* Efeito neon expandido */
          0 0 80px #9C9ED5; /* Finaliza o gradiente do brilho */
      }

    & .btn-dark {
        background-color: var(--dark-color);
        color: var(--secundary-color);

        a {
            background-color: var(--dark-color);
            color: var(--third-color);
        }
    }

    & .btn-light {
        a {
            background-color: var(--secundary-color);
            color: var(--dark-color);
        }

    }

}


.image-container img {
    width: 300px;
    border-radius: 50%;
    box-shadow: 
    0 0 1ch #9292c7,  /* Sombra fraca */
    0 0 5px #507ba8, /* Sombra média */
    0 0 10px #525DC6, /* Brilho intenso */
    0 0 30px #9C9ED5, /* Efeito neon expandido */
    0 0 34px #9C9ED5; /* Finaliza o gradiente do brilho */
    ;

}


.text-container {
    margin-left: 2em;
    margin-top: 40px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 300px;
}

.container .text-container .networking {
    display: flex;
    justify-content: center;

    a {
        margin: 2%;
    }

    img {
        width: 25px;
        height: 25px;
    }
    
    .img-networking {
        width: 30px;
        height: 30px;
        margin: -2.5px;
    }
}

.about-me {
    scroll-margin-top: 40px;
    background-color: #F0EEF0;
    position: relative;
    width: 100vw; 
    height: auto;
}
.about-me-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: end;
    margin: auto;
    width: 80vw;
}

.about-me-container > :first-child {
    align-self: flex-start;
    padding: 2rem;
}

.about-me-content {
    display: flex;
    justify-content: center;
    align-items: start;
    text-align: center;
    width: 100vw;
}

.description, .education-description {
    width: 40vw;
}

.description {
    height: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: flex-start;
    align-items: start;
}

.description-text-start {
    width: 100%;
}

.description-text-start > * {
    padding: 15px;
}


.description-text-end {
    width: 100%;
    text-align: end;
}

.description-text-end > * {
    padding: 15px;
}

.description > * {
    padding: 15px;
}


.education-description {
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: end;
    justify-content: flex-start;  
}

.container-college {
    width: 100%;
    align-items: end;
    justify-content: center;
    text-align: end;
}



button {
    background: radial-gradient(circle, #2a3d7e, #000000);
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    width: 200px;
    height: 30px;
    text-align: center;
    font-weight: bold;
    margin-top: 0.5em;
    a {
        color: #0ff;
    }
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}







.container-projects {
    background: radial-gradient(circle, #2a3d7e, #000000);
    position: relative;
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    scroll-margin-top: 40px;

    h2 {
        margin-top: -100%;
        color:#0ff;
        text-shadow:
        0 0 5px #9C9ED5,
        0 0 10px #9C9ED5,
        0 0 20px #525DC6,
        0 0 40px #C88FC4,
        0 0 5px #C88FC4;
    }
    .typing-text {
        font-weight: bold; 
        color: #ffffff; 
        text-shadow: 
          0 0 5px #C88FC4,
          0 0 10px #C88FC4, 
          0 0 20px #525DC6,
          0 0 40px #9C9ED5, 
          0 0 80px #9C9ED5; 

    }
}


.container-contact {
    padding: 2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
    margin: auto;
    width: 80vw;
    min-width: 80vw;
    height:90vh;
    scroll-margin-top: 40px;
    box-sizing: border-box;
}
.contact {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}
.container-informations {
    
    display: flex;
    flex-direction: row;
    height: 40px;
    text-align: start;
    align-items: center;
}
.container-informations .logo{
    width: 50px;
    height: 50px;
    border: 3px solid #646a6a;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    border-radius: 50%;


    
}

.container-forms {
    display: none;
    width: 100%;
    height: 100%;
    margin: 0;
}

#inicial-text {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: 100%;
    width: 100%;
}
#inicial-text h2 {
    font-size: 60px;
    margin: 0.3rem;
}
#inicial-text p {
    margin: 0.3rem;
    font-size: 20px;
}
#hidden-text {
    display: none; /* Garante que o texto inicial esteja visível e o formulário esteja oculto */
}

#ty-text {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: 100%;
    width: 100%;
}

#ty-text h2 {
    font-size: 60px;
    margin: 0.3rem;
}
#ty-text p {
    font-size: 20px;
}

.container-forms .button-forms {
    color:#0ff;
}
.container-forms form > * {
    width: 300px;
}
.container-forms form{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container-forms form input {
    margin: 0.5rem;
    padding: 0.5rem;
}
.container-forms form textarea {
    margin: 0.5rem;
    padding: 0.5rem;
    height: 70px;
    min-width: 300px;
    min-height: 90px;
    max-height: 90px;
    max-width: 300px;
}

.container-base-informations {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.aditional-informations {
    display: flex;
    justify-content: space-between;
    width: auto;

}

.aditional-informations > * {
    margin-left: 15px; 
}

.aditional-informations div {
    width: 100px;
}


footer {
    display: flex;
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    font-size: 0.9rem;
    width: 100vw;
}


/* Para telas menores que 768px (tablet e smartphones pequenos) */
@media (max-width: 768px) {

    header {
        width: 100vw;
        height: auto;
        flex-direction: column;
        align-items: center;
        text-align: center;

        nav ul a {
            flex: 1;
        }
        nav ul {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .me .container .image-container {
        margin: 120px auto auto auto;
    }
    
    .me .container div .networking a {
        margin: 6%;
    }


    .header.minimized {
        padding: 5px 0;
        /* Menor tamanho quando minimizado */
    }

    .header li {
        font-size: 16px;
        transition: font-size 0.3s;
        /* Transição suave para o encolhimento da fonte */
    }

    .header.minimized li {
        font-size: 14px;
    }

    .container {
        display: flex;
        flex-direction: column;
        width: 100vw;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: auto;
        margin: 0;
    }

    .image-container {
        margin: 0;
        align-items: center;
        justify-content: center;
        margin-bottom: 0px;
        width: 300px;
    }


    .text-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70vw;
        margin: auto;
        height: 100%;
        text-align: center;
        
    }
    .about-me-container {
        align-items: center;
        text-align: center;
        justify-content: center;
        margin: auto;
    }
    .about-me-title {
        margin: auto;
    }

    .about-me{
        height: auto;
        margin: auto;
        
    }

    .about-me .description p {
        margin: auto;
        padding: 0px;
    }

    .about-me-content {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    #inicial-text {
        margin: 1rem;
    }

    .education-description {
        width: 100%;
    }
    .container-college {
        align-items: center;
        text-align: center;
        justify-content: center;
        width: 100%;
        word-wrap: break-word;
    }

    .description {
        width: 100%;
    }

    .description-text-start {
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    .description-text-start p {
        text-align: justify;
    }


    .description-text-end {
        width: 100%;
        text-align: center;
    }
    .container-contact {
        display: flex;
        align-items: center;
        justify-content: space-around;
        text-align: start;
        width: 100%;
        height: auto;
        padding: 0;
    }
   
    
    .container-informations {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
        align-items: center;
        margin: auto;
        justify-content: center;
    }
    .container-informations .logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: auto;
    }

    .logo h2{
        font-size: 14px;
        text-align: center;
        margin: auto;
    }

    .information{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        width: 100%;
        margin: auto;
    }

    .container-forms {
    }


 
    .container-contact .container-informations {
        width: 100%;
        text-align: start;
        padding: 2rem
    }

    .container-base-informations {
        margin-top: 2rem;
        margin-left: 15px;
        width: 100%;
        flex-direction: column;
    }
    .aditional-informations {
        flex-direction: column;
        margin-top: 15px;
        margin-left: -15px;
        flex-grow: 1;
    }
    .aditional-informations > * {
        margin-top: 15px;
    }


    footer {
        margin:auto;
    }

}

/* Para telas menores que 480px (smartphones) */
@media (max-width: 480px) {
    @media (max-width: 480px) {
        .text-container {
            padding: 10px;
            font-size: 0.9rem;
        }
    
        button {
            font-size: 0.8rem;
            padding: 8px 16px;
        }
    }
}